<!DOCTYPE html>
	<html>
		<head><font face = "Avenir">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/">About</a></li>
	        		<li><a href="/cv/">CV</a></li>
	        		<li><a href="/publications/">Publications</a></li>
              			<li><a href="/outreach/">Outreach</a></li>
				<li><a href="/radio/">Radio</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:priscillaashleysj@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/psanjuan">GitHub</a></li>
				<li><a href="https://www.researchgate.net/profile/Priscilla_San_Juan">ResearchGate</a></li>
  				<li><a href="https://scholar.google.com/citations?user=_LfDFZcAAAAJ&hl=en&authuser=1">Google Scholar</li>
				</ul>
			</footer>
		</body>
			</font>
	</html>
